body{
    background-color: silver;
}
h1{
    text-align: center;
    color:purple;
}

p{
    font-size: 10px;
}
h1+p{
color: royalblue;
}
img
{
        margin-left: 100px;
        margin-right: 50px;
       
      }